*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


heading{
    color:white;
    background: #081b31;
    text-align: center;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(img.jpg) no-repeat center;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
        
}


.container{

    background-color: white;
    padding: 2rem;
    border-radius: 2rem;
    min-height: 80vh;
    width: 60vh;
}



form{
    margin:2rem 0 2rem 0;
}

form select,button,input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;

}


form input{
    border:1px solid lightgray;
    font-size: 1rem;
    font-weight: bold;
    height: 3rem;
    padding-left:1rem ;
}



.dropdown{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 1.5rem;
}


.select-container img{
    font-size: 1.75rem;
    max-width: 2rem;
    object-fit: cover;
}

.select-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6.5rem;
    border-radius: 0.75rem;
    border:1px solid lightgray;
    
}

.select-container select{
    font-size: 1rem;
    width: auto;
}



.msg{
    margin: 2rem;
    font-size: 1.5rem;
    text-align: center;
    
}

button{
    border: 1px solid black;
    padding: 10px 1px 11px 1px;
    background:oklab(0.28 -0.02 -0.19);
    color: white;
    font-size: 0.98rem;
    font-weight: bold;

}



p{
    margin-bottom: 0.3rem;
    margin-left: 0.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-variant: all-petite-caps;
    font-synthesis-small-caps: auto;
    font-size: 1.5rem;
    
}