*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.heading{
    color:white;
    background: #081b31;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
}

.calculator-content{

    background:rgba(175, 203, 214, 0.849);
    position: absolute;
    left: 38%;
    top: 15%;
    transform: translateX(-50%,-50%);
    border: 3px solid black;
    border-radius:10px;
}

.input-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
    margin:1rem;


}

.number-plate{
    display: flex;
    justify-content:center;
    align-items: center;
    gap:1rem;
    margin:1.5rem;
    
}

.numbers:hover{
    cursor: pointer;
    background: #081b31;
    color: #fff;
   
}


.numbers{
    background-color: rgb(128, 156, 231);
    padding: 17px 8px 43px 8px;
    font-size: 35px;
    width:60px;
    height: 60px;
    border-radius: 50%;
    line-height: 32px;
    text-align: center;

}



input{

    padding: 15px 19px 17px 10px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    width: 283px;
    outline: none;
    
}

input:disabled{
    background: #edeef0;
}